.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 20px 0;
}

.register-paper {
    padding: 40px;
    width: 100%;
}

.auth-link {
    color: #1976d2;
    text-decoration: none;
    font-weight: 500;
}

.auth-link:hover {
    text-decoration: underline;
}
