name: CI - Build backend, build frontend, test backend

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "dev" ]


jobs:
  backend_build:
    runs-on: ubuntu-latest
    name: Backend - build (skip tests)

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Build backend (skip tests)
        working-directory: backend/tasklist
        run: mvn -B clean package -DskipTests

  frontend_build:
    runs-on: ubuntu-latest
    name: Frontend - build
    needs: backend_build

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install deps
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

  backend_test:
    runs-on: ubuntu-latest
    name: Backend - unit tests
    needs: frontend_build

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Run backend tests
        working-directory: backend/tasklist
        run: mvn -B test
